h1 {
    font-family: 'Pacifico', cursive;
    color: #695D7A;
    text-shadow: 1px 1px #fff;
}

.main-page img {
    width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

body {
    background-color: #B4CCAE;
}